<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>action is everything</title>
</head>
<body>
<div  data-th-fragment="footer">
    <style type="text/css">
        .bottom_mian{
            text-align:center;
            background-color: #eee;
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 5px 0;
        }
    </style>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <p id="bottom_mian" class="bottom_mian">授权系统</p>
    </div>
</div>
<script>



    $(function () {

    });

</script>
</body>
</html>