<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body >

<div class="login">
    <h1>笔录授权系统</h1>
        <input type="text" name="loginaccount" placeholder="用户名" required="required" value="admin"/>
        <input type="password" name="password" placeholder="密码" required="required" value="admin"/>
        <button type="submit" class="btn btn-primary btn-block btn-large" onclick="login_login();">登录</button>
</div>

</body>
<script language="JavaScript" src="/js/jquery-1.11.1.js"></script>
<script language="JavaScript" src="/js/common.js"></script>
<script language="JavaScript" src="/js/actionid.js"></script>
<script language="JavaScript" src="/js/web/login.js"></script>
<script th:inline="javascript">
    $(function(){


    });
</script>

</html>