<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avst.authorize.web.mapper.SQEntityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.avst.authorize.common.entity.SQEntityPlus">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="servertype" property="serverType" />
        <result column="foreverBool" property="foreverBool" />
        <result column="startTime" property="startTime" />
        <result column="cpuCode" property="cpuCode" />
        <result column="sqsize" property="sqsize" />
        <result column="sqDay" property="sqDay" />
        <result column="companyname" property="companyname" />
        <result column="clientName" property="clientName" />
        <result column="unitCode" property="unitCode" />
        <result column="sortNum" property="sortNum" />
        <result column="gnlist" property="gnlist" />
        <result column="companymsg" property="companymsg" />
        <result column="state" property="state" />
        <result column="ssid" property="ssid" />
        <result column="sqtypename" property="sqtypename" />
        <result column="string1" property="string1" />
        <result column="string2" property="string2" />
        <result column="integer1" property="integer1" />
        <result column="integer2" property="integer2" />
        <collection property="sqCodeList" ofType="com.avst.authorize.common.entity.SQCode">
            <id column="cid" property="id"/>
            <result column="cname" property="name"/>
            <result column="csqcode" property="sqcode"/>
            <result column="crealpath" property="realpath"/>
            <result column="csqentityssid" property="sqentityssid"/>
            <result column="cstartTime" property="startTime"/>
            <result column="csqDay" property="sqDay"/>
            <result column="cssid" property="ssid"/>
            <result column="cstring1" property="string1"/>
            <result column="cstring2" property="string2"/>
            <result column="cinteger1" property="integer1"/>
            <result column="cinteger2" property="integer2"/>
        </collection>
    </resultMap>

    <!--申请人授权统计-->
    <resultMap id="UserSQCodeMap" type="com.avst.authorize.common.entity.SQCodeStatisticsEntity">
        <result column="name" property="name"/>
        <result column="sqcount" property="value"/>
    </resultMap>

    <select id="getFindByssid" parameterType="string" resultMap="BaseResultMap">
        SELECT
            s.*,
            c.id cid,
            c.name cname,
            c.sqcode csqcode,
            c.realpath crealpath,
            c.sqentityssid csqentityssid,
            c.startTime cstartTime,
            c.sqDay csqDay,
            c.ssid cssid,
            c.string1 cstring1,
            c.string2 cstring2,
            c.integer1 cinteger1,
            c.integer2 cinteger2,
            t.typename sqtypename
        FROM
            ac_sqentityplus s
            LEFT JOIN ac_sqcode c ON s.ssid = c.sqentityssid
            LEFT JOIN base_type t ON t.ssid = s.batypessid
        <where>
            s.id > 0
            <if test="null != ssid">
                and s.ssid = #{ssid}
            </if>
        </where>
    </select>


    <select id="getSQCount" resultType="integer">
        SELECT
            count(distinct s.id)
        FROM
            ac_sqentityplus s
        LEFT JOIN base_type t ON t.ssid = s.batypessid
        LEFT JOIN ac_sqcode a ON a.sqentityssid = s.ssid
        where 1=1
            ${ew.sqlSegment}
    </select>

    <select id="getSQList" resultMap="BaseResultMap">
        SELECT
            s.*,
            a.id as cid,
            a.name as cname,
            a.sqcode as csqcode,
            a.realpath as crealpath,
            a.sqentityssid as csqentityssid,
            a.startTime as cstartTime,
            a.sqDay as csqDay,
            a.ssid as cssid,
            a.string1 as cstring1,
            a.string2 as cstring2,
            a.integer1 as cinteger1,
            a.integer2 as cinteger2
        FROM
            ac_sqentityplus s
        LEFT JOIN base_type t ON t.ssid = s.batypessid
        LEFT JOIN ac_sqcode a ON a.sqentityssid = s.ssid
        where s.id > 0
            ${ew.sqlSegment}
    </select>

    <select id="getSQListPage" resultMap="BaseResultMap">
        SELECT
            s.*,
            t.typename sqtypename
        FROM
            ac_sqentityplus s
        LEFT JOIN base_type t ON t.ssid = s.batypessid
        LEFT JOIN ac_sqcode a ON a.sqentityssid = s.ssid
        where s.id > 0
            ${ew.sqlSegment}
    </select>

<!--zhg tyoiuwen11111111111-->
    <select id="getUserSQCodeCount" resultMap="UserSQCodeMap">
        SELECT
	        a.username as name,
            count(s.id)	as sqcount
        FROM
            ac_sqentityplus a
            LEFT JOIN ac_sqcode s ON s.sqentityssid = a.ssid
        where
            a.state = 1  and a.id > 0
            ${ew.sqlSegment}
            GROUP BY a.username
            ORDER BY sqcount desc ,a.startTime desc

    </select>


    <select id="getCompanynameSQCodeCount" resultMap="UserSQCodeMap">
        SELECT
            a.companyname as name,
            count(s.id)	as sqcount
        FROM
            ac_sqentityplus a
            LEFT JOIN ac_sqcode s ON s.sqentityssid = a.ssid
        where
            a.state = 1
            ${ew.sqlSegment}
            GROUP BY a.companyname
            ORDER BY sqcount desc

    </select>

    <!--已优化-->
    <select id="getTypenameSQCodeCount" resultMap="UserSQCodeMap">
        SELECT
            t.typename as name,
            count(t.id)	as sqcount
        FROM
            base_type t
            LEFT JOIN ac_sqentityplus a on a.batypessid = t.ssid
            LEFT JOIN ac_sqcode s ON s.sqentityssid = a.ssid
        where
            a.state = 1
            ${ew.sqlSegment}
            GROUP BY t.typename

    </select>

</mapper>
